@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');

:root{
  --primary: #efb6b2;
  --secondary: #4e4e4e;
  --error: #ff4a4a;
}

/* base styles & title */
body{
  	font-family: "Noto Serif";
  	color: var(--secondary);
}
.App{
  	max-width: 100vw;
}
.title h1{
  	color: var(--primary);
  	font-size: 1.2rem;
  	letter-spacing: 2px;
  	font-weight: normal;
}
.title h2, .title p{
  	text-align: center;
}
.title h2{
  	margin-top: 60px;
  	font-size: 2.6rem;
}

#image-form {
	width: 100%;
	padding-left: 5%;
	padding-right: 5%;
}

.image-grid {
	width: 80vw;
	margin-left: auto;
	margin-right: auto;
}

.imagerow {
	display: flex;
	justify-content: space-evenly;
	margin-top: 10px;
	margin-bottom: 10px;
}

.imagediv {
	max-height: 35vh;
	min-height: 35vh;
	width: 100%;
	margin: 10px;
	padding: 0;
	display: inline-block;
	border: solid 2px black;
}

img {
	max-height: 100%;
	height: 100%;
	width: 100%;
	position: absolute;
}